<div class="container">
		<h2>My Favorite Recipes</h2>
			<form class="form-horizontal">
  				<div class="input-group">
    				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    				<input id="email" type="email" class="form-control col-sm-3" name="email" placeholder="Email">
  				</div>
			</form>
 		<!-- <div class="row">
 			<div class="col=md-12"> -->
 			 {{#each recipe_data}}
				  <div class="card w-25">
				    <img class="card-img-top" src="{{this.image}}" alt="{{this.title}}">
				    <div class="card-body text-center">
				      <h4 class="card-title">{{this.title}}</h4>
				      
				      <p><small class="text-muted">Full instructions available at: <a href="{{this.url}}" target="_blank">{{this.source}}</a></small></p>
				    {{#if this.notes}}
				    	<small><strong>My Notes: </strong>
				    	{{this.notes}}</small><br>
				    {{/if}}

				      <a href="/{{this.id}}" class="btn btn-danger btn-sm">Edit Recipe</a>

				       <p><button id="sendEmail" type="button" class="btn btn-primary">Email Recipe</button></p>
				    
				  </div>
 			  
 				</div>

 				{{/each}}
 			<!-- </div>
 		</div> -->
 		


</div>