<div class="container">
		<h2>My Favorite Recipes</h2>

 		<!-- <div class="row">
 			<div class="col=md-12"> -->
 			 {{#each recipe_data}}
				  <div class="card w-25">
				    <img class="card-img-top" src="{{this.image}}" alt="{{this.title}}">
				    <div class="card-body text-center">
				      <h4 class="card-title">{{this.title}}</h4>
				      
				      <p><small class="text-muted">Full instructions available at: <a href="{{this.url}}" target="_blank">{{this.source}}</a></small></p>
				    {{#if this.notes}}
				    	<small><strong>My Notes: </strong>
				    	{{this.notes}}</small><br>
				    {{/if}}

				      <a href="/{{this.id}}" class="btn btn-danger btn-sm">Edit Recipe</a>
				    
				  </div>
 			  
 				</div>

 				{{/each}}
 			<!-- </div>
 		</div> -->
 		


</div>